@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Homemade+Apple&display=swap');

:root {
    --cor-primaria: #332824;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #F5F5F5;
    --cor-botao: #666666;
    --cor-borda-botao: #5E5E5E;
    --cor-hover: #7B5656;

    --fonte-primaria: 'Homemade Apple', sans-serif;
    --fonte-secundaria: 'Adamina', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 2% 7.5%;
    background-color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    opacity: 0.5;
}

.cabecalho__menu__link:hover {
    opacity: 1;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100vh;
}

.apresentacao__conteudo {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 3%;
    max-width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

/* Inicio Apresentacao > Galeria */

.apresentacao__galeria {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 3%;
}

.apresentacao__conteudo__galeria {
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 3%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 2%;

    max-height: 100vh;
    max-width: 33%;
}

/* Fim Apresentacao > Galeria */


.apresentacao__conteudo__titulo {
    font-size: 55px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 18px;
    font-family: var(--fonte-secundaria);
}

/* Inicio Apresentacao > Index */

.apresentacao__imagem {
    flex: 1;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
}

.apresentacao__imagem__background {
    max-height: 100vh;
    width: 100vh;
}

.apresentacao__imagem__botoes {
    position: absolute;
    margin: 15% 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

/* Fim Apresentacao > Index */


/*Inicio Botoes Conectar*/
.apresentacao__botoes__galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.apresentacao__botoes__galeria__1,
.apresentacao__botoes__galeria__2,
.apresentacao__botoes__galeria__3,
.apresentacao__botoes__galeria__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 24px;
    font-family: var(--cor-secundaria);


    color: #000000;
    background-color: transparent;


    width: 424px;
    height: 70px;
    border: 1px solid var(--cor-borda-botao);
    border-radius: 2px;

    padding: 21.5px 0;
}

.apresentacao__botoe__galeria__1 img,
.apresentacao__botoes__galeria__2 img {
    height: 35px;
    width: 35px;
}

.apresentacao__botoes__galeria__1:hover,
.apresentacao__botoes__galeria__2:hover,
.apresentacao__botoes__galeria__3:hover,
.apresentacao__botoes__galeria__4:hover {
    background-color: var(--cor-hover);
}

/*Fim Botoes Conectar*/

.apresentacao__botoes__1,
.apresentacao__botoes__2,
.apresentacao__botoes__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 24px;
    font-family: var(--cor-secundaria);

    color: var(--cor-secundaria);
    background-color: var(--cor-botao);

    width: 280px;
    border: 1px solid var(--cor-borda-botao);
    border-radius: 2px;

    padding: 21.5px 0;
}

.apresentacao__botoes__1 img,
.apresentacao__botoes__2 img,
.apresentacao__botoes__3 img {
    height: 35px;
    width: 35px;
}

.apresentacao__botoes__1:hover,
.apresentacao__botoes__2:hover,
.apresentacao__botoes__3:hover {
    background-color: var(--cor-hover);
}

/* Inicio Apresentacao > Sobre */

.apresentacao__sobre {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.apresentacao__sobre__conteudo {
    margin: 30% 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

/* Fim Apresentacao > Sobre */

/* Inicio Apresentacao > Galeria */

/* Coluna 1 */

.apresentacao__coluna__1 {
    max-width: 100vh;
    max-height: 100vh;
}

.apresentacao__coluna__1__imagem__1 {
    width: 408px;
    height: 448px;
}

.apresentacao__coluna__1__imagem__2 {
    width: 408px;
    height: 228px;
}

/* Coluna 2 */

.apresentacao__coluna__2 {
    max-width: 100vh;
    max-height: 100vh;
}

.apresentacao__coluna__2__imagem__1 {
    width: 430px;
    height: 228px;
}

.apresentacao__coluna__2__imagem__2 {
    width: 430px;
    height: 448px;
}

/* Coluna 3 */

.apresentacao__coluna__3 {
    max-width: 100vh;
    max-height: 100vh;
}

.apresentacao__coluna__3__imagem__1 {
    width: 434px;
    height: 680px;
}

/* Fim Apresentacao > Galeria */


.rodape {
    padding: 24px;
    background-color: var(--cor-primaria);
}